.horizon {
    height: 2px;
    width: 100%;
    background-color: #999;
    margin-bottom: 6px;
}

body {
    padding: 26px 100px;
    overflow: hidden;
}

/* layout */

.app {
    border: 2px solid #999;
    border-radius: 6px;
}

/* 顶部状态栏 */

.app>.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #c62f2f;
}

.app>.topBar svg {
    width: 40px;
    height: 40px;
    color: #fefcfc;
}

.app>.topBar>.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app>.topBar>.left>svg {
    margin-right: 20px;
}

.app>.topBar>.left>span {
    font-size: 36px;
    color: #fefcfc;
}
.app>.topBar>.right>svg {
    cursor: pointer;
} 

/* 管理员功能区 */

.app>.feature {
    display: flex;
}

/* aside */

.app>.feature>aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 2px solid #999;
}

.app>.feature>aside>.songList-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.app>.feature>aside>.songList-container>.textSongsList {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
}

.app>.feature>aside>.songList-container>.songsList {
    height: 360px;
    overflow: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    width: 100%;
    padding: 0 2px;
}

.app>.feature>aside>.songList-container>.songsList>li {
    margin-bottom: 2px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: gray;
}

.app>.feature>aside>.songList-container>.songsList>li:hover {
    border-left: 3px solid #c62f2f;
    color: black;
    cursor: pointer;
}

.app>.feature>aside>.songList-container>.songsList>li.active {
    border-left: 3px solid #c62f2f;
    background: #d9d9d9;
    color: black;
}

.app>.feature>aside>.newSong {
    margin-top: 4px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-top: 2px solid gray;
}

.app>.feature>aside>.newSong:hover,
.app>.feature>aside>.newSong.active {
    color: red;
    background: #d4d4d4;
}

.app>.feature>aside>.newSong>svg {
    margin-left: 6px;
}

/* main */

.app>.feature>main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    background: white;
}

.app>.feature>main>.introduction {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 24px;
    /* border: 1px solid red; */
}

.app>.feature>main>.introduction.active {
    display: flex;
}

.app>.feature>main>.introduction>.row {
    margin: 4px 0;
    color: gray;
}

.app>.feature>main>.introduction>.row>svg {
    color: #c62f2f;
}

.app>.feature>main>.introduction>.row:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    color: black;
    margin-bottom: 40px;
}

.app>.feature>main>.introduction>.row:first-child>svg {
    width: 3em;
    height: 3em;
}

.app>.feature>main>.uploadArea {
    display: none;
    position: relative;
    background: white;
}

.app>.feature>main>.uploadArea.active {
    display: block;
}

.app>.feature>main>.uploadArea>.draggable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    border-radius: 4px;
    border: 2px dashed gray;
    cursor: pointer;
    color: gray;
}

.app>.feature>main>.uploadArea>.clickable {
    margin-top: 20px;
    padding: 6px 6px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fefcfc;
    cursor: pointer;
    background: #c62f2f;
    outline: none;
}

.app>.feature>main>.uploadArea>.uploadStatus {
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    display: none;
    z-index: 2;
    text-indent: -9999em;
    animation: load-effect 1s infinite linear;
}

.app>.feature>main>.uploadArea>.uploadStatus.active {
    display: block;
}

/* css3-loading动画 */

@keyframes load-effect {
    0% {
        box-shadow: 0 -3em 0 .2em #c62f2f, /*上*/
        2em -2em 0 0 #c62f2f, /*右上*/
        3em 0 0 -.5em #c62f2f, /*右*/
        2em 2em 0 -.5em #c62f2f, /*右下*/
        0 3em 0 -.5em #c62f2f, /*下*/
        -2em 2em 0 -.5em #c62f2f, /*左下*/
        -3em 0 0 -.5em #c62f2f, /*左*/
        -2em -2em 0 0 #c62f2f;
        /*左上*/
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #c62f2f, 2em -2em 0 .2em #c62f2f, 3em 0 0 0 #c62f2f, 2em 2em 0 -.5em #c62f2f, 0 3em 0 -.5em #c62f2f, -2em 2em 0 -.5em #c62f2f, -3em 0 0 -.5em #c62f2f, -2em -2em 0 -.5em #c62f2f;
    }
    25% {
        box-shadow: 0 -3em 0 -.5em #c62f2f, 2em -2em 0 0 #c62f2f, 3em 0 0 .2em #c62f2f, 2em 2em 0 0 #c62f2f, 0 3em 0 -.5em #c62f2f, -2em 2em 0 -.5em #c62f2f, -3em 0 0 -.5em #c62f2f, -2em -2em 0 -.5em #c62f2f;
    }
    37.5% {
        box-shadow: 0 -3em 0 -.5em #c62f2f, 2em -2em 0 -.5em #c62f2f, 3em 0 0 0 #c62f2f, 2em 2em 0 .2em #c62f2f, 0 3em 0 0 #c62f2f, -2em 2em 0 -.5em #c62f2f, -3em 0 0 -.5em #c62f2f, -2em -2em 0 -.5em #c62f2f;
    }
    50% {
        box-shadow: 0 -3em 0 -.5em #c62f2f, 2em -2em 0 -.5em #c62f2f, 3em 0 0 -.5em #c62f2f, 2em 2em 0 0 #c62f2f, 0 3em 0 .2em #c62f2f, -2em 2em 0 0 #c62f2f, -3em 0 0 -.5em #c62f2f, -2em -2em 0 -.5em #c62f2f;
    }
    62.5% {
        box-shadow: 0 -3em 0 -.5em #c62f2f, 2em -2em 0 -.5em #c62f2f, 3em 0 0 -.5em #c62f2f, 2em 2em 0 -.5em #c62f2f, 0 3em 0 0 #c62f2f, -2em 2em 0 .2em #c62f2f, -3em 0 0 0 #c62f2f, -2em -2em 0 -.5em #c62f2f;
    }
    75% {
        box-shadow: 0 -3em 0 -.5em #c62f2f, 2em -2em 0 -.5em #c62f2f, 3em 0 0 -.5em #c62f2f, 2em 2em 0 -.5em #c62f2f, 0 3em 0 -.5em #c62f2f, -2em 2em 0 0 #c62f2f, -3em 0 0 .2em #c62f2f, -2em -2em 0 0 #c62f2f;
    }
    87.5% {
        box-shadow: 0 -3em 0 0 #c62f2f, 2em -2em 0 -.5em #c62f2f, 3em 0 0 -.5em #c62f2f, 2em 2em 0 -.5em #c62f2f, 0 3em 0 -.5em #c62f2f, -2em 2em 0 0 #c62f2f, -3em 0 0 0 #c62f2f, -2em -2em 0 .2em #c62f2f;
    }
    100% {
        box-shadow: 0 -3em 0 .2em #c62f2f, 2em -2em 0 0 #c62f2f, 3em 0 0 -.5em #c62f2f, 2em 2em 0 -.5em #c62f2f, 0 3em 0 -.5em #c62f2f, -2em 2em 0 -.5em #c62f2f, -3em 0 0 -.5em #c62f2f, -2em -2em 0 0 #c62f2f;
    }
}

/* 编辑功能区 */

.app>.feature>main>.editArea {
    display: none;
    width: 90%;
    height: 80%;
    position: relative;
}

.app>.feature>main>.editArea.active {
    display: block;
}

.app>.feature>main>.editArea>.heading {
    margin-bottom: 6px;
    padding-left: 26px;
    font-size: 28px;
}

.app>.feature>main>.editArea>.heading>svg {
    color: gray;
}

.app>.feature>main>.editArea>.horizon {
    height: 2px;
}

.app>.feature>main>.editArea>form {
    margin-top: 20px;
    font-size: 18px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.app>.feature>main>.editArea>form>.left .row {
    /* border: 1px solid black; */
}

.app>.feature>main>.editArea>form>.left .size {
    display: block;
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

.app>.feature>main>.editArea>form>.right {
    padding: 4px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.app>.feature>main>.editArea>form>.right>img {
    vertical-align: middle;
    display: none;
    border-radius: 4px;
}
.app>.feature>main>.editArea>form>.right>img.active {
    display: block;
}

.app>.feature>main>.editArea>form .row {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.app>.feature>main>.editArea>form .row:nth-child(4) {
    margin-bottom: 4px;
}

.app>.feature>main>.editArea>form .row>label {
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

.app>.feature>main>.editArea>form .row.action {
    margin-left: calc(4em + 5px);
}

.app>.feature>main>.editArea>form .row>input[type='text'] {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
    outline: none;
    color: gray;
}

.app>.feature>main>.editArea>form .row>input[type='text']:focus {
    border: 1px solid #999;
}
/* .app>.feature>main>.editArea>form .row>label.upload {
    height: 30px;
    width: 120px;
    background-color: #00abff;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 30px;
}
.app>.feature>main>.editArea>form .row>input[type='file'] {
    display: none;
} */

.app>.feature>main>.editArea>form .row>input[type='submit'] {
    height: 40px;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    color: #fefcfc;
    cursor: pointer;
    background-color: #c62f2f;
}

.app>.feature>main>.editArea>form input[type='submit']:focus {
    outline: none;
}

/* 修改成功提醒框 */

.app>.feature>main>.editArea>.successMessage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 14%;
    background: #ddd;
    opacity: 0.8;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 6px;
}

.app>.feature>main>.editArea>.successMessage.active {
    display: flex;
}

.app>.feature>main>.editArea>.successMessage>svg {
    margin-bottom: 4px;
    color: #c62f2f;
    font-size: 40px;
}

/* 上传成功提醒框 */

.app>.feature>main>.editArea>.remind {
    display: none;
    position: absolute;
    width: 400px;
    top: 20%;
    left: 16%;
    border-radius: 6px;
    z-index: 2;
}

.app>.feature>main>.editArea>.remind.active {
    display: block;
}

.app>.feature>main>.editArea>.remind>.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    font-size: 24px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #c62f2f;
}

.app>.feature>main>.editArea>.remind>.heading>svg {
    cursor: pointer;
}

.app>.feature>main>.editArea>.remind>.content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.app>.feature>main>.editArea>.remind>.content>.notify {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 30px 30px 30px;
    font-size: 18px;
}

.app>.feature>main>.editArea>.remind>.content>.notify>svg {
    color: red;
    font-size: 26px;
}

.app>.feature>main>.editArea>.remind>.content>.action {
    display: flex;
    justify-content: flex-end;
    padding: 10px 66px;
}

.app>.feature>main>.editArea>.remind>.content>.action>button {
    border: none;
    margin-left: 16px;
    padding: 4px 14px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    background: #c62f2f;
}

/* 弹出提醒框后的遮罩层 */

.fade {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 1;
    opacity: .8;
    filter: alpha(opacity=80);
}

.fade.active {
    display: block;
}